.Hmain{
    //background-color: blue;
}

.Hcategories{
    //background-color: blue;
    width: 256px;
    margin: 10px;
    float: left;
    padding-left: 100px;
}

.HpartialAd{
    height: 500px;
}

.Hfooter{
    clear: both;
}