.member-header-container{
    position: relative;
    padding: 1.0rem 3.0rem;
    background: rgb(2, 34, 63);
}

.member-header-text{
    text-align: center;
    color:#fff;
    margin: 0;
}

.member-header-avatar{
    position: absolute;
    right: 3.0rem;
    top: 1.0rem;
    width:50px;
    height: 50px;
}