.member-header-container{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(111, 223, 238);
}
.member-header-container h5{
    padding:30px;
    padding-right: 0%;
    font-size: 20px;
    color:#fff;
}
.member-header-text{
    width:80%;
    padding:10px;
    box-sizing: border-box; 
    text-align: center;
    color:#fff;
}

.member-header-avatar{
    width:50px;
    height: 50px;
    margin:22px;
}