
.register-form {
    max-width: 400px;
  }
.register-form-container {
  max-width: 500px;
  padding: 50px;
  align-items: center;
  margin: auto;
}


.register-form-container__title{
    text-align: center;

}